@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-primary" role="alert">
    @ViewBag.msg
</div>
<div class="alert alert-dark" role="alert">
    @ViewBag.proxima
</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Paciente" asp-action="Index">Clique aqui para ir para o Passo 2</a>